.Carousel{
    color: black;
    height: 25%;
    /* border:  solid 4px brown; */
}
.car{
    display: flex;
align-items: center;
justify-content: center;
background-color: black;

}
.car img{
    width: 100%;
    max-height: 400px;
    object-fit:contain; 
    margin-top: 4.3%;

}