.Container{
display:flex;
flex-direction: column;
align-items:flex-start;
justify-content:flex-start;
height:800px;
position: relative;
overflow-x: hidden;
}
.Container-image {
    margin-left: 0px;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: solid 2px blueviolet;
    /* height: 100%; */
}
.Container-details img{
    width: 90%;
    height: 35%;
    margin-top: 15%;
    object-fit: contain;
    border: solid 2px brown;

}
.Container-details{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* border:  solid 3px beige; */
    height: 90%;

}
.buttons-details{
    display: flex;
    flex-direction: row;
    width:100%;
    height: auto;
    gap: 2%;
}

.b1,.b2{
    width: 15%;
    height: 40px;
    text-align: center;
    border-radius: 5px;

}
.b3,.b4 {
    width:40px;
    height: auto;
    border-radius: 100%;}
    
.buttons-details button{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 100%;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: black;
    outline: none;
    border: none;
    opacity: 0.9;
}
.subtitle{
    color: rgb(255, 255, 255);
    font-size: medium;
 border:  solid 3px beige;
width: 100%;
}
@media only screen and (max-width: 500px) {


    .Container-detaiil{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border:  solid 3px beige; */
        height: 90%;
    }
.Container-image{
    width: 100%;
    height: 100%;
}

.Container-image img{
    zoom: -50%;
}


}