.Container{
display:flex;
flex-direction: column;
align-items:flex-start;
justify-content:flex-start;
height:800px;
position: relative;
overflow-x: hidden;
}
.Container-image  {
    margin-left: 0px;
    width: 100%;
    height: 100%; 
}

.Container-img{
    /* position: fixed; */
    z-index: -1;
    width: 100%;
    height: 100%;
  
}
.Container-detailsimg{
    width: 50%;
    height: 35%;
    /* margin-top: 15%; */
    object-fit: contain;
    /* border: solid 2px brown; */
    margin-top: 0;

}
.Container-details{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border:  solid 3px beige;
    height: 60%;
    margin-top: -589px;


}
.buttons-details{
    display: flex;
    flex-direction: row;
    width:100%;
    height: auto;
    gap: 2%;
}

.b1,.b2{
    width: 15%;
    height: 40px;
    text-align: center;
    border-radius: 5px;

}
.b3,.b4 {
    width:40px;
    height: auto;
    border-radius: 100%;}
    .buttons-details button:hover{
        background: antiquewhite;
        color: black;
        
    }
.buttons-details button{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 100%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: black;
    outline: none;
    border: none;
    opacity: 0.9;
}
.subtitle{
    color: rgb(255, 255, 255);
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 /* border:  solid 3px beige; */
width: 100%;
}
.p2{
 text-align: left;
}











@media only screen and (max-width: 500px) {
    .buttons-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: auto;
    gap: 1%;
        padding-left: 10px;    /* border:  solid 3px beige; */

    }
    .b1,.b2{
    width: 25%;
    height: 40px;
    text-align: center;
    border-radius: 5px;

}
.b3,.b4 {
    width:45px;
    height: 45px;
    border-radius: 100%;}

    .Container-details{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:center;
        height: 90%;
    }
    .Container-image {
        margin-left: 0px;
        position:fixed;
        width: 100%;
        height: 100%; 
    }

.Container-img{
    z-index: -1;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    /* object-fit:cover; */
}
.subtitle{padding-left: 10px;}
.p1{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
}