
  .row {
      display: flex;
      flex-direction:row;
      align-items:center;
      justify-content:flex-start;
      width: 2000px;
      height: 300px;
      overflow-y: hidden;
      overflow-x: scroll;
      padding-left:15px;
      gap:10px;
      /* border: solid 3px brown; */
    }
  
   .row_poster{
  width:270px;
  height: 100%;
  /* border: solid 3px brown; */

}
   
  
    
  
  