
li {
    list-style: none;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }

  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

  }
   a:hover{
    color: rgb(255, 92, 51);
 }
  .Login{
    color: aliceblue;
    border-color: azure;
    margin-right: 10px;
    width: 7%;
    
  }
  .Login:hover{
    color: black;
    background-color: aliceblue;
  }
  .navbar{
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: rgb(0, 0, 0);
  height: 8vh;
  width: 100%;
  z-index: 1000;
  position: fixed;
  border-bottom: solid 2px beige;
  
  }
.brand{
display: flex;
align-items: center;
justify-content: center;
height: 150%;
margin-top: -19px;
    /* border: solid 2px blanchedalmond; */
    width: 10%;
}
.brand img{
  display: flex;
  width: 60%;
  height: auto;
}
  .nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  height: 100%;
  }
  .nav__toggler div{
      width: 2.5rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: rgb(204, 204, 204);
      transition: 0.1s ease-in;
      
    }
  
    
    .nav__toggler{
        display: none;
        cursor: pointer;
        margin-left: 5%;
    }

    .UserImg{height: 100%;
      border-radius: 50%;
      width: 48px;
      object-fit: contain;
     }
    
  .DropDown{ 
    
    background: rgb(255, 255, 255);
    border: 1px solid rgba(151, 151, 151, 0.34);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 18px 0px;
    padding: 0px;
    font-size: 14px;
    letter-spacing: 3px;
    width: 100px;
    opacity: 0;
    height: 30px;
 }
   
 
  
 .SignOut {
  height: 50px;
  width:250px;
  display: flex;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
   
   
  .DropDown:hover {
     
        opacity: 1;
        transition-duration: 1s;
      }
    
  






    @media only screen and (max-width: 500px) {
  
      .nav__toggler{display: block;
   }
   .brand{
        width: 30%;
    }
    .navbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    /* gap: 50%; */
  }
  .SignOut:nth-child(7){
    order:-1;
  }
  .UserImg{
    height: auto;
    border-radius: 50%;
    width: 30%;
    object-fit: contain;
   }
  .DropDown{ 
    
    background: transparent;
    border:none;
    /* border-radius: 4px; */
    box-shadow: rgba(224, 222, 222, 0.5) 0px 0px 18px 0px;
    padding: 0px;
    font-size: 14px;
    letter-spacing: 3px;
    width: 100%;
    opacity: 1;
    height: 30px;
    color: antiquewhite;

 }
 .Login{
  color: aliceblue;
  border-color: azure;
  margin-left: 10px;
  width:25%;
  
}
  .SignOut{
    
    width: 100%;
    height:18%;
  margin-top: 0;
  display: flex;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  }
      .nav-menu{
      position: fixed;
      top: 8%;
      left: 0%;
      width: 50%;
      height:800px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      display: flex;
      gap: 70px;
      background-color: black;
      transform: translateX(-100%);
      z-index: 1000;
      padding:5px 0 0%;
      gap: 2.5%;
      
      }
      li{
        width: 100%;
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: 0.5s;
        text-indent: 5px;
        padding-left: 10px;
      }
      li:hover{
       background-color: aqua;
      }
  
      .nav-active{
      transform: translateX(0%);
      transition: 0.5s;
      transition-delay: 0.3s;
      height: 100%;}
    }
    .toglle .line1{
      transform: rotate(-45deg) translate(-4px,5px);
    }
  
    .toglle .line2{
      opacity: 0;
    }
  
    .toglle .line3{
      transform: rotate(45deg) translate(-4px,-5px);
    }