.Viewers{
display: flex;
width:99%;
height: 25%;
align-items: center;
justify-content: center;
gap: 3%;
border-top: 1px solid rgb(255, 255, 255);
 margin-top:2%; 
 padding-left: 8px;
 padding-top: 10px;
 
}

.Viewers-image{
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  border: 3px solid rgba(249, 249, 249, 0.1);
  height: 90%;
}


.Viewers-image img{
  inset: 0px;
  display: block;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 500ms ease-in-out 0s;
  width: 100%;
  z-index: 1;
  top: 0;

}

.Viewers-image video{
  width: 100%;
    height: 100%;
    position: absolute;
  top: 0%;
    opacity: 0;
    z-index: 0;
}



.Viewers-image:hover {
  box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
  rgb(0 0 0 / 72%) 0px 30px 22px -10px;
  transform: scale(1.05);
  border-color: rgb(255, 225, 0);
}


.V1{
grid-area: V1;
}
.V2{
  grid-area: V2;
  
}
.V3{
  grid-area: V3;
}
.V4{
  grid-area: V4; 
}
.V5{
  grid-area: V5;
}









.Viewers-image video:hover{opacity:1;}
@media only screen and (max-width: 500px) {

  .Viewers{
    display: grid;
    
    grid-template-rows: minmax(200px,auto);
    grid-template-areas:
    "V1 V1  V2 V2 V3 V3"
    "V4 V4 V4  V5 V5 V5" 
    ;

  }
 

  .Viewers-image{
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    border: 3px solid rgba(249, 249, 249, 0.1);
    height: 100px;
    padding: 0%;
    
  }


}